Binaries
DerivedDataCache
Intermediate
Saved
Package
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/EditorOpenOrder.log
